---

version: '3.7'
services:
  www_mkdevops_db:
    image: mysql:5.7
    container_name: www_mkdevops_db
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=wordpress
      - MYSQL_USER=wordpress
      - MYSQL_PASSWORD=wordpress
    volumes:
      - www_mkdevops_db:/var/lib/mysql
    networks:
      - www_mkdevops
    restart: unless-stopped

  www_mkdevops_wordpress:
    image: mblomdahl/wordpress
    container_name: www_mkdevops_wordpress
    environment:
      - WORDPRESS_DB_HOST=www_mkdevops_db:3306
      - WORDPRESS_DB_USER=wordpress
      - WORDPRESS_DB_PASSWORD=wordpress
    networks:
      - www_mkdevops
    links:
      - www_mkdevops_db
    ports:
      - {{ local_port }}:80
    restart: unless-stopped

volumes:
  www_mkdevops_db:

networks:
  www_mkdevops:

...
